---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Hablemos un poco sobre quienes somos..."
	description="Lorem ipsum dolor sit amet"
	heroImage='/Empresa.png'
	>
	<!-- <img class="hero" src="/Empresa.png" alt="Hero image" />	 -->

	<h3>Nuestra historia:</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
		labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
		viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
		adipiscing. In hac habitasse platea dictumst vestibulum. 
	</p>

	<h3>Nuestra Misión:</h3>
	<p>
		Morbi tristique senectus et netus. Id semper risus in hendrerit gravida rutrum quisque non
		tellus. Habitasse platea dictumst quisque sagittis purus sit amet. Tellus molestie nunc non
		blandit massa. Cursus vitae congue mauris rhoncus. Accumsan tortor posuere ac ut. Fringilla urna
		porttitor rhoncus dolor. 
	</p>
	
	<h3>Nuestra Vision:</h3>
	<p>
		Mollis nunc sed id semper risus in. Convallis a cras semper auctor neque. Diam sit amet nisl
		suscipit. Lacus viverra vitae congue eu consequat ac felis donec. Egestas integer eget aliquet
		nibh praesent tristique magna sit amet. Eget magna fermentum iaculis eu non diam. In vitae
		turpis massa sed elementum. 

	
</Layout>
